/* Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background-color: #e9e9e9;
    padding: 20px;
}

.menu {
    list-style: none;
    padding: 0;

}

/* HIDE the navigation on mobile - default - view */
nav {
    display: none;
}

.menu li {
    padding: 10px;
    border: 1px solid #ccc;
}

.menu li a {
    text-decoration: none;
    color: black;
    display: block;

}

/* Main Content */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Card Styling */
.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card img {
    width: 100%;
    border-radius: 5px;
}

/* Hide captions on phones */
.caption {
    display: none;
}

/* Hamburger Menu */

/* Hide the checkbox */
#menu-check {
    display: none;
}

/* Show menu when checkbox is checked */
#menu-check:checked~nav {
    display: block;
}

/* Postion the label of the checkbox in the corner */
.menu-icon {
    position: absolute;
    top: 3px;
    left: 30px;
    font-size: 2em;
    cursor: pointer;
}

@media (min-width: 600px)
{
    body{
        background-color: #ff0000;
    }

    .caption {
        display:block;
    }

    .card {
        width: 48%;
        display: inline-block;
    }
    .menu-icon{
        display: none;
    }
    nav{
        display:block;
        .menu li {
            display: inline-block;
        }
    }
}

@media (min-width: 900px){
    body{
        background-color: thistle;
    }
    .card {
        width: 30%;
        height: 100%;
        vertical-align: center;
    }
}