@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
#container {
    width: 80%;
    margin: auto;
}

section {
    border: 2px black solid;
    border-radius: 2%;
    display: flow-root;
    padding: 10px;
    margin-bottom: 5px;
}

.right {
float: right;
}

.left {
    float: left;
}


img {
    margin-right: 25px;
}

h2 {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
}