body {
    background-color: beige;
    text-align: center;
}

/* h2, h3 {
    font-variant: small-caps; } */

.pog {
    font-variant: small-caps;
}

#container {
    border: 1px solid blue;
    width: 50%;
    margin: auto;
    border-radius: 6px;
    box-shadow: 20px 50px 50px rgb(250, 63, 215);

}

a:link, a:visited {
    color: darkblue;
}

a:hover {
    background-color: purple;
    color: beige;
    
}