/* Base Styles - Mobile First */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    position: relative;
    text-align: center;
    z-index: 10;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    display: none;
    background: #333;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    z-index: 9;
}

.menu li {
    padding: 10px;
    border-bottom: 1px solid #555;
    text-align: left;
}

.menu li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

#menu-check {
    display: none;
}

#menu-check:checked~nav {
    display: block;
}

.menu-icon {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 2em;
    cursor: pointer;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.intro {
    padding: 20px;
    background: white;
    margin: 10px 0;
    border-radius: 5px;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card img {
    width: 100%;
    border-radius: 5px;
}

@media screen and (min-width: 600px) {

    #menu-check,
    .menu-icon {
        display: none;
    }

    nav {
        display: block;
        position: static;
        background: #ae1616;
        text-align: center;
        padding: 2px 0;
    }

    .menu {
        display: inline-block;
    }

    .menu li {
        display: inline-block;
        padding: 10px 15px;
        border-bottom: none;
    }
}

@media screen and (min-width: 900px) {
    body {
        text-align: left;
    }

    nav {
        position: fixed;
        left: 0;
        top: 0;
        width: 250px;
        height: 100%;
        background: #720404;
        padding-top: 20px;
    }

    .menu {
        padding-left: 0;
    }

    .menu li {
        display: block;
        padding: 20px;
    }

    .container {
        margin-left: 260px;
        width: calc(98% - 260px);
    }

    header {
        margin-left: 260px;
        text-align: left;
    }
}